h1, h2, h3 {
    color: #4e342e;
    font-weight: 110;
}


p {
    font-weight: 150;
}


.image20-Images {
    padding: 40px 10px 5px 5px;
}

.image20-link {
    color: #4e342e;
    font-weight: 250;
    font-size: smaller;
}

.image20-stock-content {
    position:sticky;
    top:20px;
}